 
.dpmt-dismiss-forever{
    float: right;
    text-align: right;
}

.dpmt-dismiss-forever a{
    text-decoration: none;
}

.dpmt-dismiss-forever a:hover .dashicons,
.dpmt-dismiss-forever a:hover{
    color: red;
}


.dpmt-editor h1{
    margin-bottom: 30px;
}


.dpmt-editor .dashicons-editor-help{
    cursor: help;
    position: relative;
}

.dpmt-editor .dashicons-editor-help:after{
    content: attr(data-tip);
    font-size: 13px;
    font-family: sans-serif;
    line-height: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    background: rgba(10, 20, 30, 0.85);        
    padding: 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    max-width: 200px;    
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    right: 100%;
    min-width: 100px;
}

.dpmt-editor table tbody .dashicons-editor-help:after{
    right: auto;
}


.dpmt-editor .dashicons-editor-help:hover:after {
    visibility: visible;
    opacity: 1
}


.dpmt-hidden{
    display: none;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
}

.dpmt-editor table{
    min-width: 820px;    
}

.dpmt-editor table tbody tr:hover{
    background-color: #ecf7f9;
}

@media only screen and (max-width: 783px) { 
    .dpmt-editor .table-holder{
        width: 100%;
        overflow: auto;
    }
}


@media only screen and (max-width: 980px) { 
    .dpmt-editor .nav-tab{
        border: 1px solid #ccc;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}